# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Ignore local binaries and build artifacts
bin/
vendor/
dist/
_output/
*.log

# Ignore git and local config
.git/
.idea/
.vscode/

# Ignore tests to keep the image slim
**/*_test.go

# Do NOT ignore the source code
!api/
!cmd/
!internal/
!go.mod
!go.sum
